@charset "UTF-8"

;body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: white;
}

nav{
    background-color: #5B5361;
    padding: 5px;
    margin: 5px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.351);
}
nav>a{
    text-decoration: none;
            text-align: center;
            color: white;
            font-weight: bold;
            margin-right: 15px;
            font-size: 15px;
}
a:hover{
    color: #976EB6;
    text-decoration: underline;
}
header>img{
    margin-left: 10px;
   

}
p{
    margin-left: 10px;
}

